{
  "Version": "2012-10-17",
  "Id": "Policy1511287195198",
  "Statement": [
    {
      "Sid": "Allow-vpc-c409d4ad",
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::034673208282:root"
      },
      "Action": "s3:*",
      "Resource": [
        "arn:aws:s3:::digilar-properties",
        "arn:aws:s3:::digilar-properties/*"
      ],
      "Condition": {
        "StringEquals": {
          "aws:SourceVpc": "vpc-c409d4ad"
        }
      }
    },
    {
      "Sid": "Allow-vpc-8f0519e7",
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::034673208282:root"
      },
      "Action": "s3:*",
      "Resource": [
        "arn:aws:s3:::digilar-properties",
        "arn:aws:s3:::digilar-properties/*"
      ],
      "Condition": {
        "StringEquals": {
          "aws:SourceVpc": "vpc-8f0519e7"
        }
      }
    },
    {
      "Sid": "Allow-vpc-d7af99bf",
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::034673208282:root"
      },
      "Action": "s3:*",
      "Resource": [
        "arn:aws:s3:::digilar-properties",
        "arn:aws:s3:::digilar-properties/*"
      ],
      "Condition": {
        "StringEquals": {
          "aws:SourceVpc": "vpc-d7af99bf"
        }
      }
    },
    {
      "Sid": "AllowIPs",
      "Effect": "Allow",
      "Principal": "*",
      "Action": "s3:*",
      "Resource": [
        "arn:aws:s3:::digilar-properties",
        "arn:aws:s3:::digilar-properties/*"
      ],
      "Condition": {
        "IpAddress": {
          "aws:SourceIp": "46.59.25.147/32"
        }
      }
    }
  ]
}